body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

/*------------------------NAV bar styles start----------------------------*/

#logo {
    width: 75px;
    border-radius: 100%;
    border: 3px solid white;
    align-self: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    top: 0px;
    padding: 15px;
}

#navtag1 {
    margin: 10px 5px 5px;
    padding: 5px 15px 5px;
    text-decoration: none;
    color: #2B2E2D;
    font-size: 16px;
    transition: .5s;
    align-self: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

#navtag2 {
    margin: 10px 5px 5px;
    padding: 5px 15px 5px;
    text-decoration: none;
    color: #2B2E2D;
    font-size: 16px;
    transition: .5s;
    align-self: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

#navtag3 {
    text-decoration: none;
    color: #2B2E2D;
    transition: .5s;
    align-self: center;
}

#navtag1:hover {
    background-color: #2A80BB;
    color: white;
}

#navtag2:hover {
    background-color: #2A80BB;
    color: white;
}

#navtag3:hover {
    background-color: #2A80BB;
    color: white;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    align-self: center;
    margin: 10px 5px 5px;
    padding: 5px 15px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#navtags {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    color: #2B2E2D;
}

.dropdown-content a {
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #2B2E2D;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}


/*------------------------NAV bar styles end----------------------------*/

/*------------------------HOME styles start----------------------------*/

/*
#homeimage {
    background-image: url(../images/homeimage.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
*/

#homeimage {
    background-image: url(../images/homeimage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#homepattern {
    background-image: url(../images/homeimage.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
}

#hometitle {
    margin: 0;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 5px 10px black;
}

#homearticle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 55vh;
}

.homedesc {
    margin-left: 10vw;
    margin-right: 5vw;
}

.mainbackground {
    background-color: #2A80BB;
}

.me {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.homecard {
    overflow: hidden;
    width: 25%;
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.25);
    max-width: 30%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px
}

.cardimage {
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    height: 200px;
}

#homecards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    height: 55vh;
}

.cardtext {
    margin: 0px;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*------------------------HOME styles end----------------------------*/

/*------------------------footer styles start-------------------------*/

footer {
    height: 10vh;
    background-color: #2B2E2D;

}


/*------------------------footer styles end----------------------------*/

/*-----------------------Resume page styles----------------------------*/

.resumeimage {
    width: 300px;
}

.resumecontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

/*-----------------------Resume page styles end-------------------------*/

/*-----------------------Contact page styles start----------------------*/

.contactheader {
    background-image: url(../images/contactimage.jpg);
    height: 60vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactpattern {
    background-image: url(../images/contactpadern.jpeg);
    height: 60vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactbox {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.contactcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*----------------------Contact page styles end--------------------------*/

/*------------------------About Me styles start--------------------------*/

.aboutmecontent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


/*------------------------About Me styles end---------------------------*/

/*------------------------projects styles start-------------------------*/

.projectsbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 5vh
}



.projectimg {
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 95%;
}

.projectimg2 {
    box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 95%;
}


.paside {
    width: 45%%;
}



/*------------------------projects styles end-------------------------*/

/*------------------------Universal styles start------------------------*/

.margin {
    margin-left: 10vh;
    margin-right: 10vh;
}

.textspacing {
    line-height: 1.8;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}


<link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet" >
