body {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1280px;
    margin: 0 auto;
}

/*------------------------NAV bar styles start----------------------------*/

#navbar {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    background-color: #2B2E2D;
    top: 0px;
    padding: 15px;
}

#navtag {
    margin: 10px 5px 5px;
    padding: 5px 15px 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: .5s;
    align-self: center;
    font-family: 'Arimo', sans-serif;
}

.navbar a:hover {
    color: black;
}

#logo {
    width: 75px;
    border-radius: 100%;
    border: 3px solid white;
    align-self: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    background-color: #2B2E2D;
    color: white;
    align-self: center;
    font-family: 'Arimo', sans-serif;
    align-self: center;
    margin-right: 5vw;
}

.dropdown{
    height: 16px;
    align-self: center;
}

#navtags{
    display: flex;
    width: 100vw;
    align-items: flex-end;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
    color: #2B2E2D;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #2B2E2D;
    font-family: 'Arimo', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


/*------------------------NAV bar styles end----------------------------*/

/*------------------------HOME styles start----------------------------*/

#homeimage {
    background-image: url(../images/homeimage.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: stretch;
}

#hometitle {
    margin: 0;
    order: 0;
    flex: 0 1 auto;
    align-self: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#homearticle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.homedesc {
    margin-left: 10vw;
}

.me{
    border: 8px solid #2B2E2D;
}

/*------------------------HOME styles end----------------------------*/

/*------------------------footer styles start---------------------------*/

footer {
    height: 10vh;
    background-color: #2B2E2D;

}


/*------------------------footer styles end----------------------------*/

/*-----------------------Resume page styles----------------------------*/

/*-----------------------Resume page styles end----------------------------*/

/*------------------------Universal styles start----------------------------*/

.margin {
    margin-left: 10vh;
    margin-right: 10vh;
}

.textspacing {
    line-height: 1.8;
}

<link href="https://fonts.googleapis.com/css?family=Arimo|Raleway" rel="stylesheet" >
